<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <title>Mossos d'Esquadra - Consulta ciutadana</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="header-mossos">
    <img src="/senyera.png" alt="Bandera catalana">
    <h1>Mossos d'Esquadra</h1>
  </div>
  <div class="form-mossos">
    <form method="GET" action="/citizen">
      <label for="dni">Introdueix el DNI:</label><br>
      <input type="text" name="dni" id="dni" required /><br>
      <button type="submit">Consultar</button>
    </form>
  </div>
</body>
</html>
